:root {
    --header-height: 8.125rem;
}

body {
    margin: 0;
}

header {
    height: var(--header-height);
    background-color: #037ed2;
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
}

.header-image {
    height: var(--header-height);
    width: auto;
    padding-left: 2.25rem;
    padding-right: 2.25rem;
}

nav {
    display: flex;
    flex-grow: 1;
}

.nav-button {
    box-sizing: border-box;
    height: var(--header-height);
    width: 14.2857%;
    background-color: #037ed2;
    color: white;
    font-size: 125%;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: outset;
    border-color: #046bb5;
}

.nav-button:active {
    border-style: inset;
    border-color: #046bb5;
}
